
<div class="footer-line">
    <div class="footer">
        <div class="footer-conter">
            <div class="footer-con">
                <ul class="over-asition clearfloat">
                    <li class="footer-lifop"><a href="javascript:;" target="_blank">关于健康网</a><span>|</span></li>
                    <li class="footer-lifop"><a href="javascript:;" target="_blank">健康网理念</a><span>|</span></li>
                    <li class="footer-lifop"><a href="javascript:;" target="_blank">档案中心</a><span>|</span></li>
                    <li class="footer-lifop"><a href="javascript:;" target="_blank">知识中心</a><span>|</span></li>
                    <li class="footer-lifop"><a href="javascript:;" target="_blank">产品中心</a><span>|</span></li>
                    <li class="footer-lifop"><a href="javascript:;" target="_blank">权威认证</a><span>|</span></li>
                    <li class="footer-lifop"><a href="javascript:;" target="_blank">免责声明</a><span>|</span></li>
                    <li class="footer-lifop"><a href="javascript:;" target="_blank">合作网点</a><span>|</span></li>
                    <li class="footer-lifop"><a href="javascript:;" target="_blank">商务合作</a><span>|</span></li>
                    <li class="footer-lifop"><a href="javascript:;" target="_blank">联系我们</a></li>
                </ul>
                <div class="plone-er clearfloat">
                    <div class="plone-er-left">
                        <p class="font-crtop">400-635-1290</p>
                        <p class="font-voper">
	                             <span class="larvel">
	                                <img src="__STATIC__/index/common/images/xinlang.png"/>
	                                <a href="javascript:;" target="_blank">新浪微博</a>
	                             </span>
                            <span class="larveop">
	                                <img src="__STATIC__/index/common/images/weibo.png"/>
	                                <a href="javascript:;" target="_blank">腾讯微博</a>
	                             </span>
                        </p>
                    </div>
                    <div class="plone-er-right">
	                         <span class="oper-lper-left">
	                         	<img src="__STATIC__/index/common/images/503.png"/>
	                         	<span>微信公众号</span>
	                         </span>
                        <span class="oper-lper-right">
	                         	<img src="__STATIC__/index/common/images/504.png"/>
	                         	<span class="iowe">微信订阅号</span>
	                         </span>
                    </div>
                </div>
                <!--小文字-->
                <div class="maxlebgth-list-font">
                    <p class="iowe">
                        <img src="__STATIC__/index/common/images/gogngan.png">
                        京公网安备 11000002000088号 &nbsp|&nbsp京ICP证070359号&nbsp|&nbsp互联网药品信息服务资格证编号(京)-经营性-2014-0008&nbsp|&nbsp新出发京零 字第大120007号
                    </p>
                    <p class="iowe">互联网出版许可证编号新出网证(京)字150号&nbsp|&nbsp出版物经营许可证&nbsp|&nbsp网络文化经营许可证京网文[2014]2148-348号&nbsp|&nbsp违法和不良信息举报电话：4006561155</p>
                    <p class="iowe">Copyright © 2004-2017  健康网版权所有&nbsp|&nbsp消费者维权热线：4006067733    经营证照</p>
                </div>
            </div>
        </div>
    </div>
</div>