<div class="header-line">
    <div class="nav clearfloat">
        <div class="logo fl">
            <a href="http://www.jkwang.com/index.php" target="_blank">
                <img src="__STATIC__/index/common/images/logo.png" alt="logo" />
            </a>
        </div>
        <div class="nav_list fr">
            <ul>
                <li><a href="{:url('Index/index')}" class="new on" target="_blank">健康新闻</a></li>
                <li><a href="http://huodong.jkwang.com/index.php/" class="activities" target="_blank">健康活动</a></li>
                <li><a href="http://zixun.jkwang.com/index.php/" class="consultation" target="_blank">健康咨询</a></li>
                <li><a href="http://baike.jkwang.com/index.php/" class="encyclopedia" target="_blank">健康百科</a></li>
                <li><a href="http://baoxian.jkwang.com/index.php/" class="talk" target="_blank">健康保险</a></li>
                <li><a href="http://mall.jkwang.com/" class="mall" target="_blank">健康商城</a></li>
                <li><a href="javascript:;" class="archives" target="_blank">健康档案</a></li>
                <li><a href="http://jijin.jkwang.com/index.php/" class="fund" target="_blank">健康基金</a></li>
                <li><a href="javascript:;" class="card" target="_blank">健康卡</a></li>
            </ul>
        </div>
    </div>
</div>