<div class="header-line">
    <div class="header-bottom">
        <div class="header-conter clearfloat">
            <div class="piv-left">
                <img src="__STATIC__/index/ucenter/images/logo.png" />
            </div>
            <ul class="centent-ter clearfloat">
                <li class="popel">
                    <a href="{:url('index/index')}" target="_self">个人中心</a>
                </li>
                <!--<li class="popel popel1">-->
                    <!--<a href="javascript:;" target="_blank">账户设置<i class="icon iconfont icon-daosanjiao" style="position:absolute;top:0;right:-10px;font-size:30px;"></i></a>-->
                    <!--<ul class="child">-->
                        <!--<li class="child-over"><a href="javascript:;" target="_blank">设置1</a></li>-->
                        <!--<li class="child-over"><a href="javascript:;" target="_blank">设置2</a></li>-->
                        <!--<li class="child-over"><a href="javascript:;" target="_blank">设置3</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="popel popel2">-->
                    <!--<a href="javascript:;" target="_blank">我的新闻</a>-->
                <!--</li>-->
            </ul>
            <div class="form-right">
                <form method="post">
                    <input type="text" name="" placeholder="高血压" />
                    <a herf="javascript:;" target="_blank"></a>
                </form>
                <a class="newgive" href="{:url('news/release')}">发布新闻</a></div>
        </div>
    </div>

</div>