<link rel="stylesheet" href="__STATIC__/index/ucenter/css/reset.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="__STATIC__/index/ucenter/css/font/iconfont.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="__STATIC__/index/ucenter/css/loginandRegister.css" type="text/css" charset="utf-8" />

<div class="top-line">

    <div class="header">
        <div class="header-ter clearfloat">
            <div class="item-left">
                <span class="health-index"><a href="javascript:;" target="_blank">健康网首页</a></span>
                <span class="divide">|</span>
                <span class="phone"><i class="icon iconfont icon-shouji"></i>手机上网站</span>
            </div>
            <div class="item-right">
                <ul class="itrm-li clearfloat">
                    <li class="every">
                        <span class="sun">
                            <a href="javascript:;" target="_blank">我的健康网</a>
                            <i class="icon iconfont icon-daosanjiao"></i>
                        </span>
                    </li>
                    <li class="every">
                        <span class="sun">
                            <a href="javascript:;" target="_blank">新闻</a>
                            <i class="icon iconfont icon-daosanjiao"></i>
                        </span>
                    </li>
                    <li class="every every3">
                        <a href="javascript:;" target="_blank">帮助</a>
                    </li>
                    <li class="every every4">
                        <a href="javascript:;" target="_blank">
                            <i class="icon iconfont icon-shijian"></i>
                        </a>
                    </li>
                    <li class="every every5">
                        <a href="javascript:;" target="_blank">
                            <i class="icon iconfont icon-liebiao"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>