<link rel="stylesheet" href="__STATIC__/index/ucenter/css/share.css" type="text/css" charset="utf-8" />
<div class="personal-left">
    <ul class="uc-list">
        <li class="uc-every">
            <!--<a href="{:url('index/index')}">个人中心-->
                <!--<img src="__STATIC__/index/ucenter/images/doth.png" />-->
            <!--</a>-->
            <ul class="uc-child">
                <li class="oper-list">
                    <a href="{:url('News/showlist')}">我的发布</a>
                </li>
                <li class="oper-list">
                    <a href="{:url('collection/index')}">我的收藏</a>
                </li>
                <li class="oper-list">
                    <a href="javascript:;" target="_blank">我的关注</a>
                </li>
                <li class="oper-list">
                    <a href="{:url('ArticleError/index')}" target="_self">我的纠错</a>
                </li>
                <li class="oper-list">
                    <a href="javascript:;" target="_blank">帮助中心</a>
                </li>
            </ul>
        </li>
        <!--<li class="uc-every">-->
            <!--<a href="javascript:;" target="_blank">信息中心</a>-->
        <!--</li>-->
    </ul>
</div>
