<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__STATIC__/Common/css/reset.css" type="text/css" charset="UTF-8" media="all"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/news/css/m_news.css" />
    <title>新闻列表</title>
</head>

<body>
<section>
    <nav class="nav">新闻详情</nav>
    <div class="newbox">
        <div class="new">
            <ul>
                <li class="list1">
                    <a class="list1_a" href="/mobile/index/news_detail/id/1" target="_blank">
                        <p class="list1_title">掰指关节时的嘎吱响从何而来？</p>
                        <div class="list1_con">
                            <span class="list1_span">被惹毛又没处发泄，只好把指关节掰的咔咔响泄愤。闲来无事不掰指关节总手痒，仿佛患上了强迫症。手指掰得嘎吱响时，自己总会有种古惑仔上身的快感。</span>
                        </div>
                    </a>
                </li>
                <li class="list2">
                    <a href="/mobile/index/news_detail/id/2" target="_blank">
                        <h3>晒黑后怎么快速变白 5个妙招来帮你</h3>
                        <div class="list2_con">
                            <img class="img" src="__STATIC__/news/image/m_list01.jpg"/>
                            <span class="list2_span">拯救晒后被晒黑的皮肤，美眉们可以使用香蕉面膜。香蕉做面膜，有软化皮肤角质和净白皮肤的作用...</span>
                        </div>
                    </a>
                </li>
                <li class="list1">
                    <a class="list1_a" href="/mobile/index/news_detail/id/3" target="_blank">
                        <p class="list1_title">掰指关节时的嘎吱响从何而来？</p>
                        <div class="list1_con">
                            <span class="list1_span">被惹毛又没处发泄，只好把指关节掰的咔咔响泄愤。闲来无事不掰指关节总手痒，仿佛患上了强迫症。手指掰得嘎吱响时，自己总会有种古惑仔上身的快感。</span>
                        </div>
                    </a>
                </li>
                <li class="list2">
                    <a href="/mobile/index/news_detail/id/4" target="_blank">
                        <h3>晒黑后怎么快速变白 5个妙招来帮你</h3>
                        <div class="list2_con">
                            <img class="img" src="__STATIC__/news/image/m_list01.jpg"/>
                            <span class="list2_span">拯救晒后被晒黑的皮肤，美眉们可以使用香蕉面膜。香蕉做面膜，有软化皮肤角质和净白皮肤的作用...</span>
                        </div>
                    </a>
                </li>

                <li class="list1">
                    <a class="list1_a" href="/mobile/index/news_detail/id/5" target="_blank">
                        <p class="list1_title">掰指关节时的嘎吱响从何而来？</p>
                        <div class="list1_con">
                            <span class="list1_span">被惹毛又没处发泄，只好把指关节掰的咔咔响泄愤。闲来无事不掰指关节总手痒，仿佛患上了强迫症。手指掰得嘎吱响时，自己总会有种古惑仔上身的快感。</span>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!--底部导航-->
    <div class="footer">
        <a href="http://www.jkwang.com/mobile/index/index.html">
            <img src="__STATIC__/news/image/nav_home.png" width="100%" height="100%">
        </a>
        <a href="http://news.jkwang.com/mobile/index/index.html">
            <img src="__STATIC__/news/image/nav_home01.png" width="100%" height="100%">
        </a>
        <a href="http://mall.jkwang.com">
            <img src="__STATIC__/news/image/nav_cart.png" width="100%" height="100%">
        </a>
        <a href="http://www.jkwang.com/mobile/index/more">
            <img src="__STATIC__/news/image/nav_more.png" width="100%" height="100%">
        </a>
    </div>
</section>
</body>

</html>