<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="__STATIC__/Common/css/reset.css" type="text/css" charset="UTF-8" media="all"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/news/css/m_detail.css"/>
		<title>新闻详情</title>
	</head>

	<body>
		<section>
			<nav class="nav">新闻详情</nav>
			<div class="newbox">
				<div class="new_content">
					<h3>北京下架超万斤劣质零食 让孩子吃得安心</h3>
				    <span>2017-06-01 13:02:25　来源: 健康时报(北京)</span>
				    <!--图片上面文字-->
				   <p class="img_top">5月30日，北京市食药监局公布了97个“五毛零食”样本的营养含量测定结果。结果显示，七成调味面制品检出“甜蜜素”，“五毛零食”呈现油盐甜“三高”，对少年儿童健康成长不利。截至目前，全市共下架6100公斤存在风险隐患的“五毛零食”。</p>
				   <img src="__STATIC__/news/image/m_news01.jpg" width="100%" height="100%"/>
				   <p class="title">一袋“五毛零食”即达成人钠摄入量</p>
				   <p class="part">结果显示，68.5%的调味面制品样本钠含量超过2000毫克/100克，含量在2000-2500毫克/100克的样本量最为集中，占全部样本量的55.5%，有2个样本钠含量甚至超过3000毫克/100克。市食品安全监控和风险评估中心专家吴燕涛博士表示，《中国居民膳食营养素参考摄入量》中以轻度身体活动水平的成年男性为例，钠的每日建议摄入量为2000毫克;《食品安全国家标准 预包装食品营养标签通则》中钠的每日建议摄入量为2000毫克，不宜超过6克。在本次食药监局的检测结果中，钠平均含量为2113毫克/100克，食用不到2两此类产品，钠的摄入量即达到成人每日推荐摄入量。</p>
				   <p class="part">钠最高检出值为一款名为“叫花鸡味”的调味面制品，含量为3020 毫克/100克，食用1两多该产品，钠的摄入量即达到成人每日推荐摄入量。</p>
				   <p class="part">《中国居民膳食营养素参考摄入量》规定食物中脂肪提供的能量占总能量的20%-30%较为适宜。本次对“五毛零食”的检测结果中，有近1/3的样本脂肪含量达到20 克/100克以上。脂肪最高检出值为一款名为“烤肉串”的调味豆制品，含量为35.5 克/100克，按照膳食营养素摄入量参考值计算，食用3两多该产品，脂肪摄入即达到成人每日推荐食用量。</p>
				   <p class="part">目前，市场上销售的调味面制品、调味豆制品等“五毛零食”，一般每袋净含量在2两左右，少年儿童食用该类产品，极易摄入较高盐分和脂肪，对成长不利。</p>
				   <p class="title" >7成调味面试制品检出甜蜜素</p>
				   
				   <p class="part">本次测定中，在54个调味面制品样本中，有38个调味面制品样品检出甜蜜素，检出率达70.4%，检出值范围为0.220 克/公斤-1.66 克/公斤。</p>
				   <p class="part">市食品安全监控和风险评估中心专家吴燕涛博士介绍，甜蜜素、糖精钠是两项常用的人工合成甜味剂，甜蜜素的甜度是蔗糖的30至40倍，糖精钠的甜度是蔗糖的300至500倍，价格则比蔗糖低廉许多，对人体而言缺乏营养价值，不能作为营养元素被人体吸收。</p>
				   <p class="part">北京市食药监局相关负责人表示，为确保少年儿童食品安全，近期，全市启动了较大规模的“五毛零食”专项整治，截至目前，已出动执法人员近万人次，对批零市场、学校周边的5966家商户开展检查执法，截至目前共下架6100公斤存在风险隐患的食品，发出行政指导、责令改正通知书344件，给予警告或立案102件。北京市食药监局将进一步严格儿童食品市场准入标准，严查滥用添加剂行为，严格规范产品标签标识，严查生产经营企业供应资质，发现问题食品一律下架退市，并通报生产企业所在地监管部门。</p>
				</div>

			</div>

			<!--底部导航-->
			<div class="footer">
				<a href="http://www.jkwang.com/mobile/index/index.html">
					<img src="__STATIC__/news/image/nav_home.png" width="100%" height="100%">
				</a>
				<a href="http://news.jkwang.com/mobile/index/index.html">
					<img src="__STATIC__/news/image/nav_home01.png" width="100%" height="100%">
				</a>
				<a href="http://mall.jkwang.com">
					<img src="__STATIC__/news/image/nav_cart.png" width="100%" height="100%">
				</a>
				<a href="http://www.jkwang.com/mobile/index/more">
					<img src="__STATIC__/news/image/nav_more.png" width="100%" height="100%">
				</a>
			</div>
		</section>
	</body>

</html>